# Data Cleaning bom.movie

In [1]:
import pandas as pd
import numpy as np

In [5]:
!ls

Data                   Stephen.ipynb          untitled
Data Cleaning.ipynb    main.ipynb
README.md              tmdb_movie_clean.ipynb

In [7]:
bom = pd.read_csv('Data/bom.movie_gross.csv')

In [8]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [9]:
bom['foreign_gross'] = bom['foreign_gross'].replace(',','', regex = True)
#getting rid of commas so I can covert string to a float

In [10]:
bom['foreign_gross']= bom['foreign_gross'].astype(float)
#converting string to float

In [11]:
top_500_dom = bom.nlargest(500, ['domestic_gross'])

In [12]:
top_500_dom.isna().sum()
#looking to find if there are many null values in the top 500 movies
#null values aren't relevant in top 500 which means we can get rid of all rows that have nulls

title             0
studio            0
domestic_gross    0
foreign_gross     2
year              0
dtype: int64

In [13]:
bom = bom[bom['domestic_gross'].notna()]

In [14]:
bom = bom[bom['studio'].notna()]

In [15]:
bom = bom[bom['foreign_gross'].notna()]

#getting rid of missing values

In [16]:
bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...
3275,I Still See You,LGF,1400.0,1500000.0,2018
3286,The Catcher Was a Spy,IFC,725000.0,229000.0,2018
3309,Time Freak,Grindstone,10000.0,256000.0,2018
3342,Reign of Judges: Title of Liberty - Concept Short,Darin Southa,93200.0,5200.0,2018
3353,Antonio Lopez 1970: Sex Fashion & Disco,FM,43200.0,30000.0,2018

In [17]:
bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...
3275,I Still See You,LGF,1400.0,1500000.0,2018
3286,The Catcher Was a Spy,IFC,725000.0,229000.0,2018
3309,Time Freak,Grindstone,10000.0,256000.0,2018
3342,Reign of Judges: Title of Liberty - Concept Short,Darin Southa,93200.0,5200.0,2018
3353,Antonio Lopez 1970: Sex Fashion & Disco,FM,43200.0,30000.0,2018

## Data cleaning name.basics

In [26]:
n_b = pd.read_csv('Data/imdb.name.basics.csv')

In [19]:
n_b.info()

NameError: name 'n_b' is not defined

In [20]:
n_b = n_b.drop('birth_year', 1)
#deleted birth year because not relevant

NameError: name 'n_b' is not defined

In [21]:
n_b = n_b[n_b['death_year'].isna()]
#got rid of any people who are dead

NameError: name 'n_b' is not defined

In [22]:
n_b = n_b.drop('death_year', 1)
#got rid of death year because no longer relevant

NameError: name 'n_b' is not defined

In [23]:
n_b = n_b[n_b['known_for_titles'].notna()]
# got rid of na values in title id

NameError: name 'n_b' is not defined

In [ ]:
n_b.info()

In [ ]:
n_b = n_b[n_b['primary_profession'].notna()]
#got rid of na values in primary profession

In [ ]:
n_b

# Data cleaning title.akas

In [ ]:
t_a = pd.read_csv('title.akas.csv')

In [ ]:
t_a.info()

In [ ]:
t_a = t_a.drop('language', 1)

#dropped language because too many na's

In [ ]:
t_a = t_a.drop('types', 1)
#dropped types because too many na's, not relevant

In [ ]:
t_a.info()

In [ ]:
t_a = t_a.drop('attributes', 1)
#dropped attributes because too many na's

In [ ]:
# t_a.set_index('title_id', inplace = True)
# setting the title id as index

In [ ]:
t_a.info()

In [ ]:
is_original_title = t_a['is_original_title'] == 1

In [ ]:
is_original_title = t_a[is_original_title]

In [ ]:
t_a = is_original_title
#I only want original titles to get rid of repeats

In [ ]:
t_a = t_a.drop('region', 1)

In [ ]:
t_a = t_a.drop('ordering', 1)
#region and ordering are not relevant

In [ ]:
t_a

#data cleaning title basics

In [ ]:
!ls

# Data cleaning title basics

In [ ]:
t_b = pd.read_csv('title.basics.csv')

In [ ]:
t_b

In [ ]:
t_b = t_b.drop('runtime_minutes', 1)
#don think runtime is relevant data

In [ ]:
t_b = t_b[t_b['genres'].notna()]
#getting rid of na values in genres

In [ ]:
t_b = t_b.drop('original_title', 1)
#getting rid of og title because not necessary

# data cleaning title crew

In [ ]:
t_c = pd.read_csv('title.crew.csv')

In [ ]:
t_c.info()

In [ ]:
t_c = t_c[t_c['directors'].notna()]

In [ ]:
t_c = t_c[t_c['writers'].notna()]
#got rid of na values

# data cleaning title principals

In [ ]:
t_p = pd.read_csv('title.principals.csv')

In [ ]:
t_p.info()

In [ ]:
t_p = t_p.drop('characters',1)
# dropped characters not relevant

In [ ]:
t_p = t_p.drop('ordering',1)

In [ ]:
t_p = t_p.drop('job', 1)

In [ ]:
t_p.rename({'category':'job'}, axis = 1, inplace = True)
#changed category to job because more accurate

# Data cleaning title rating

In [ ]:
t_r = pd.read_csv('title.ratings.csv')

In [ ]:
t_r.info()

In [ ]:
t_r