# Data Cleaning bom.movie

In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls

Data                          data.ipynb
Data Cleaning.ipynb           main.ipynb
Data Join Visualization.ipynb tmdb_movie_clean.ipynb
README.md                     untitled
Stephen.ipynb

In [4]:
bom = pd.read_csv('data/bom.movie_gross.csv')

In [5]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [6]:
bom['foreign_gross'] = bom['foreign_gross'].replace(',','', regex = True)
#getting rid of commas so I can covert string to a float

In [7]:
bom['foreign_gross']= bom['foreign_gross'].astype(float)
#converting string to float

In [8]:
top_500_dom = bom.nlargest(500, ['domestic_gross'])

In [9]:
top_500_dom.isna().sum()
#looking to find if there are many null values in the top 500 movies
#null values aren't relevant in top 500 which means we can get rid of all rows that have nulls

title             0
studio            0
domestic_gross    0
foreign_gross     2
year              0
dtype: int64

In [10]:
bom = bom[bom['domestic_gross'].notna()]

In [11]:
bom = bom[bom['studio'].notna()]

In [12]:
bom = bom[bom['foreign_gross'].notna()]

#getting rid of missing values

In [13]:
bom['worldwide_gross(millions)'] = (bom['domestic_gross'] + bom['foreign_gross'])/(10**6)
bom

,title,studio,domestic_gross,foreign_gross,year,worldwide_gross(millions)
0,Toy Story 3,BV,415000000.0,652000000.0,2010,1067.0000
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010,1025.5000
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010,960.3000
3,Inception,WB,292600000.0,535700000.0,2010,828.3000
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010,752.6000
...,...,...,...,...,...,...
3275,I Still See You,LGF,1400.0,1500000.0,2018,1.5014
3286,The Catcher Was a Spy,IFC,725000.0,229000.0,2018,0.9540
3309,Time Freak,Grindstone,10000.0,256000.0,2018,0.2660
3342,Reign of Judges: Title of Liberty - Concept Short,Darin Southa,93200.0,5200.0,2018,0.0984
3353,Antonio Lopez 1970: Sex Fashion & Disco,FM,43200.0,30000.0,2018,0.0732

In [14]:
bom = bom.drop('worldwide_gross (millons)', 1)
bom = bom.drop('worldwide_gross(millons)', 1)
bom

<ipython-input-14-a2762715d72a>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  bom = bom.drop('worldwide_gross (millons)', 1)

KeyError: "['worldwide_gross (millons)'] not found in axis"

## Data cleaning name.basics

In [18]:
n_b = pd.read_csv('Data/imdb.title.basics.csv')

In [19]:
n_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [20]:
n_b = n_b.drop('birth_year', 1)
#deleted birth year because not relevant

<ipython-input-20-830c8ae3fde5>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  n_b = n_b.drop('birth_year', 1)

KeyError: "['birth_year'] not found in axis"

In [ ]:
n_b = n_b[n_b['death_year'].isna()]
#got rid of any people who are dead

In [ ]:
n_b = n_b.drop('death_year', 1)
#got rid of death year because no longer relevant

In [ ]:
n_b = n_b[n_b['known_for_titles'].notna()]
# got rid of na values in title id

In [ ]:
n_b.info()

In [ ]:
n_b = n_b[n_b['primary_profession'].notna()]
#got rid of na values in primary profession

In [ ]:
n_b

# Data cleaning title.akas

In [ ]:
t_a = pd.read_csv('title.akas.csv')

In [ ]:
t_a.info()

In [ ]:
t_a = t_a.drop('language', 1)

#dropped language because too many na's

In [ ]:
t_a = t_a.drop('types', 1)
#dropped types because too many na's, not relevant

In [ ]:
t_a.info()

In [ ]:
t_a = t_a.drop('attributes', 1)
#dropped attributes because too many na's

In [ ]:
# t_a.set_index('title_id', inplace = True)
# setting the title id as index

In [ ]:
t_a.info()

In [ ]:
is_original_title = t_a['is_original_title'] == 1

In [ ]:
is_original_title = t_a[is_original_title]

In [ ]:
t_a = is_original_title
#I only want original titles to get rid of repeats

In [ ]:
t_a = t_a.drop('region', 1)

In [ ]:
t_a = t_a.drop('ordering', 1)
#region and ordering are not relevant

In [ ]:
# Create new column tconst listing title id
t_a['tconst'] = t_a['title_id']

In [ ]:
# Drop column title id since it is duplicate
t_a = t_a.drop('title_id', 1)
t_a

#data cleaning title basics

In [ ]:
!ls

# Data cleaning title basics

In [ ]:
t_b = pd.read_csv('title.basics.csv')

In [ ]:
t_b

In [ ]:
t_b = t_b.drop('runtime_minutes', 1)
#don think runtime is relevant data

In [ ]:
t_b = t_b[t_b['genres'].notna()]
#getting rid of na values in genres

In [ ]:
t_b = t_b.drop('original_title', 1)
#getting rid of og title because not necessary

# data cleaning title crew

In [ ]:
t_c = pd.read_csv('title.crew.csv')

In [ ]:
t_c.info()

In [ ]:
t_c = t_c[t_c['directors'].notna()]

In [ ]:
t_c = t_c[t_c['writers'].notna()]
#got rid of na values

In [ ]:
t_c.head()

# data cleaning title principals

In [ ]:
t_p = pd.read_csv('title.principals.csv')

In [ ]:
t_p.info()

In [ ]:
t_p = t_p.drop('characters',1)
# dropped characters not relevant

In [ ]:
t_p = t_p.drop('ordering',1)

In [ ]:
t_p = t_p.drop('job', 1)

In [ ]:
t_p.rename({'category':'job'}, axis = 1, inplace = True)
#changed category to job because more accurate

In [ ]:
t_p.head()

# Data cleaning title rating

In [ ]:
t_r = pd.read_csv('title.ratings.csv')

In [ ]:
t_r.info()

In [ ]:
t_r.head()

# Data Merge & Visualization

In [ ]:
# Import python tools for visualization
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# List the info of the df that are being used
print('bom')
bom.info()
print()
print('n_b')
n_b.info()
print()
print('t_a')
t_a.info()
print()
print('t_b')
t_b.info()
print()
print('t_p')
t_p.info()

In [ ]:
# Create a bar chart for average world wide profit for each genre
# Join the dataframe bom, t_a, and t_b into new dataframe pg (profit-gross)
pg1 = bom.merge(t_a, on = 'title', how = 'inner')
# check
#pg1
pg2 = pg1.merge(t_b, on ='tconst', how = 'inner')
pg2

Genre column contains multiple values. Therefore we need to split it.

In [ ]:
# split genre with multiple values into 3 separate columns
split_genre = pg2['genres'].str.split(",")
genre = split_genre.to_list()
genre_cols = ['genre 1', "genre 2", "genre 3"]
genre_df = pd.DataFrame(genre, columns=genre_cols)
genre_df.head()

In [ ]:
# Create a split genre columns in pg2
pg2['genre 1'] = genre_df['genre 1']
pg2['genre 2'] = genre_df['genre 2']
pg2['genre 3'] = genre_df['genre 3']
pg2

In [ ]:
# Analyze the Genre Frequency for each genre column
genre_df.describe()

In [ ]:
# Primary Genre Analysis
# Create a figure and axis
fig, ax = plt.subplots(figsize=(15,6))
# Count the frequency in of each genre in genre 1
data = genre_df['genre 1'].value_counts().head(10)
# Get x and y data
x = data.index
y = data.values 
# Create bar chart
ax.bar(x, y) 
# Set title and labels
ax.set_title('Top Primary Genres')
ax.set_xlabel('Genre')
ax.set_ylabel('Frequency')
# Save figure
plt.savefig('Top Primary Genre.png')

In [ ]:
# Secondary Genre Analysis
# Create a figure and axis
fig, ax = plt.subplots(figsize=(15,6))
# Count the frequency in of each genre in genre 2
data = genre_df['genre 2'].value_counts().head(10)
# Set x and y data
x = data.index
y = data.values 
# Create bar chart
ax.bar(x, y) 
# Set title and labels
ax.set_title('Top Secondary Genres')
ax.set_xlabel('Genre')
ax.set_ylabel('Frequency')
# Save figure
plt.savefig('Top Secondary Genre.png')

In [ ]:
# Tertiary Genre Analysis
# Create a figure and axis
fig, ax = plt.subplots(figsize=(15,6))
# Count the frequency in of each genre in genre 3
data = genre_df['genre 3'].value_counts().head(10)
# Get x and y data
x = data.index
y = data.values 
# Create bar chart
ax.bar(x, y) 
# Set title and labels
ax.set_title('Top Tertiary Genres')
ax.set_xlabel('Genre')
ax.set_ylabel('Frequency')
# Save figure
plt.savefig('Top Tertiary Genre.png')

In [ ]:
# Find the average worldwide profit by genre
# Group by the primary genre (genre 1 ) with average worldwide gross profit
profit_genre = pg2.groupby(['genre 1']).worldwide_gross.mean()/(10**6)
profit_genre

In [ ]:
# Create a figure and axis
fig, ax = plt.subplots(figsize=(15,6))
# Set x and y data
x = profit_genre.index
y = profit_genre.values 
# Create bar chart
ax.bar(x, y) 
# Set title and labels
ax.set_title('Average Worldwide Profit across Primary Genre')
ax.set_xlabel('Genre')
ax.set_ylabel('Worldwide Profit (M)') # Find an ROI or budget  Rn is revenue 
# Save figure
plt.savefig('Profit Primary Genre.png')

In [ ]:
# Create a figure and axis
fig, ax = plt.subplots(figsize=(20,6))
# Group by the secondary genre (genre 2 ) with average worldwide gross profit
profit_genre2 = pg2.groupby(['genre 2']).worldwide_gross.mean()/(10**6)
# Set x and y data
x = profit_genre2.index
y = profit_genre2.values 
# Create bar chart
ax.bar(x, y) 
# Set title and labels
ax.set_title('Average Worldwide Profit across Secondary Genre')
ax.set_xlabel('Genre')
ax.set_ylabel('Worldwide Profit (M)')
# Save figure
plt.savefig('Profit Secondary Genre.png')

In [ ]:
# Create a figure and axis
fig, ax = plt.subplots(figsize=(20,6))
# Group by the tertiary genre (genre 3 ) with average worldwide gross profit
profit_genre3 = pg2.groupby(['genre 3']).worldwide_gross.mean()/(10**6)
# Set x and y data
x = profit_genre3.index
y = profit_genre3.values 
# Create bar chart
ax.bar(x, y) 
# Set title and labels
ax.set_title('Average Worldwide Profit across Tertiary Genre')
ax.set_xlabel('Genre')
ax.set_ylabel('Worldwide Profit (M)')
# Save figure
#plt.savefig('Profit Tertiary Genre.png')

In [ ]:
#genre_year = {}
#years = pg2['year'].unique().tolist()
#for year in years:

In [ ]:
# Merge title principle with the profit genre dataframe
pg3 = pg2.merge(t_p, on = 'tconst', how = 'inner')

In [ ]:
pg3

In [ ]:
# Merge name basic with the profit genre dataframe
pg4 = pg3.merge(n_b, on = 'nconst', how = 'inner')

In [ ]:
pg4

In [ ]:
# Rename all merged dataframe to df_merged
df_merged = pg4

From merged dataframe remove unnecessary and duplicated columns

In [ ]:
df_merged.info()
df_merged.head()

In [ ]:
df_merged = df_merged.drop(columns=['domestic_gross','foreign_gross', 'is_original_title', 'primary_title' 
                                    ,'genres', 'start_year', 'nconst', 'primary_profession', 'known_for_titles', 'tconst'], axis = 1)

In [ ]:
df_merged.head()

In [ ]:
df_merged.info()

In [ ]:
df_merged['job'].value_counts()

Value self means the 'actor' came out as him or her in the film based on real story. Therefore, convert 'self' to 'actor'. 
Also, the actor and actress has separate values. We are converting those into one value 'actor'.

In [ ]:
df_merged.iloc[df_merged['job'] == 'self', df_merged.columns.get_loc('job')] = 'actor'
df_merged.iloc[df_merged['job'] == 'actress',  df_merged.columns.get_loc('job')] = 'actor'

In [ ]:
# Check the result
df_merged['job'].value_counts()

In [ ]:
df_merged

In [ ]:
# Create the dataframe that only contains job = director
df_director = df_merged.loc[df_merged['job'] == 'director']
df_director

In [ ]:
profit_director = df_director.groupby(['primary_name']).worldwide_gross.mean()/(10**6)
profit_director = profit_director.sort_values(ascending = False)
profit_director = profit_director.nlargest(n=10)

In [ ]:
# Create a figure and axis
fig, ax = plt.subplots(figsize=(15,6))
# Set x and y data
x = profit_director.index
y = profit_director.values 
# Create bar chart
ax.bar(x, y) 
# Set title and labels
ax.set_title('Top 10 Director')
ax.set_xlabel('Driector')
ax.set_ylabel('Worldwide Profit (M)')
# Save figure
plt.savefig('Top 10 Driectors.png')

In [ ]:
# Create the dataframe that only contains job = actor
df_actor = df_merged.loc[df_merged['job'] == 'actor']
profit_actor = df_actor.groupby(['primary_name']).worldwide_gross.mean()/(10**6)
profit_actor = profit_actor.sort_values(ascending = False)
profit_actor = profit_actor.nlargest(n=10)
# Create a figure and axis
fig, ax = plt.subplots(figsize=(15,6))
# Set x and y data
x = profit_actor.index
y = profit_actor.values 
# Create bar chart
ax.bar(x, y) 
# Set title and labels
ax.set_title('Top 10 Actor')
ax.set_xlabel('Actor')
ax.set_ylabel('Worldwide Profit (M)')
# Save figure
plt.savefig('Top 10 Actors.png')

In [ ]:
# Create the dataframe that only contains job = writer
df_writer = df_merged.loc[df_merged['job'] == 'writer']
# Create the data by grouping name of the writer by the average worldwide gross profit
profit_writer = df_writer.groupby(['primary_name']).worldwide_gross.mean()/(10**6)

profit_writer = profit_writer.sort_values(ascending = False)
profit_writer = profit_writer.nlargest(n=10)
# Create a figure and axis
fig, ax = plt.subplots(figsize=(15,6))
# Set x and y data
x = profit_writer.index
y = profit_writer.values 
# Create bar chart
ax.bar(x, y) 
# Set title and labels
ax.set_title('Top 10 Writer')
ax.set_xlabel('Writer')
ax.set_ylabel('Worldwide Profit (M)')
# Save figure
plt.savefig('Top 10 Writers.png')

In [ ]:
t_m = pd.read_csv('tmdb.movies.csv')
t_m

In [ ]:
t_m.drop(columns=['Unnamed: 0', 'original_language', 'original_title'], inplace=True)

In [ ]:
t_m

In [ ]:
t_m.drop(columns=['genre_ids', 'id', 'vote_average', 'vote_count'], inplace=True)

In [ ]:
t_m = t_m.drop('popularity', 1)

In [ ]:
df_merged2 = df_merged.merge(t_m, on = 'title', how = 'inner')

In [ ]:
df_merged2

In [ ]:
df_merged2.drop(columns = ['studio', 'year', 'genre1', 'worldwide_gross'], inplace = True)

In [ ]:
df_merged2

In [ ]:
pd.to_datetime(df_merged2['release_date'])
df_merged2['month'] = pd.DatetimeIndex(df_merged2['release_date']).month

In [ ]:
df_merged2.rename({'worldwide_gross(millions)':'worldwide_gross'}, axis =1, inplace=True)
df_merged2

In [ ]:
profit_month = df_merged2.groupby(['month']).worldwide_gross.mean()

In [ ]:
# Create a figure and axis
fig, ax = plt.subplots(figsize=(15,6))
# Set x and y data
x = profit_month.index
y = profit_month.values 
# Create bar chart
ax.bar(x, y) 
# Set title and labels
ax.set_title('Worldwide Profit over Month')
ax.set_xlabel('Month')
ax.set_ylabel('Worldwide Profit (M)')
# Save figure
#plt.savefig('Worldwide Profit over Month.png')

In [ ]:
m_b = pd.read_csv('tn.movie_budgets.csv')
m_b

In [ ]:
m_b.info()
m_b.dropna()

In [ ]:
m_b = m_b.drop(columns=['release_date', 'id', 'domestic_gross'], axis = 1)
m_b

In [ ]:
m_b.rename({'movie' : 'title'}, axis = 1, inplace=True)
m_b

In [ ]:
mb2 = m_b
mb2

In [ ]:
mb2[mb2.columns[1:]] = mb2[mb2.columns[1:]].replace('[\$,]', '', regex=True).astype(float)
m_b

In [ ]:
m_b['profit'] = m_b['worldwide_gross'] - m_b['production_budget']

In [ ]:
m_b['ROI'] = m_b['profit']*100/m_b['production_budget']
m_b

In [ ]:
df_merged3 = df_merged2.merge(m_b, on = 'title', how = 'inner')
df_merged3